.popup-container {
    display: flex;
    width: 800px;
    height: 400px;
    padding-right: 40px;;
    text-align: center;
    position: relative;
}

.icon-arrow-left-forgotpassword{
    position: absolute;
    width: 25.62px;
    height: 19.46px;
    top: 35.8px;
    left: 96.88px;
    color: #000000;
}
.forgot-password p{
    position: absolute;
    width: 303px;
    height: 30px;
    top: 31px;
    left: 200px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.48px;
    color: #3770AD;
}

.icon-background{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100px;
    left: 300px;
    background-color: #E9E9E9;
    border-radius: 50%;
}

.icon-forgotpassword{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 120px;
    left: 324px;
}
.content-message {
    position: absolute;
    width: 246px;
    top: 186px;
    left: 220px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5; /* Adjust line height for better spacing */
    text-align: center;
    color: #3770AD;
    white-space: normal; /* Allow text to wrap */
}

.email-forgotpassword{
    width: 280px;
    height: 40px;
    position: absolute;
    top: 259px;
    left: 200px;
    border-radius: 30px;
    background-color: #E9E9E9;
    border: 1px solid transparent;
}

.email-forgotpassword:focus{
    outline: none;
    border-width: 2px;
    border-color: #3770AD;
}

.reset-password{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 337px;
    left: 260px;
    border-radius: 30px;
    background-color: #3770AD;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.29px;
}
