.popup-container-reset {
    display: flex;
    width: 800px;
    height: 400px;
    padding-right: 40px;;
    text-align: center;
    position: relative;
}

.icon-arrow-left-resetpassword{
    position: absolute;
    width: 25.62px;
    height: 19.46px;
    bottom: 323px;
    right: 285px;
    color: #000000;
}

.reset-password p{
    position: absolute;
    width: 275px;
    height: 30px;
    bottom: 300px;
    left: -60px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.48px;
    color: #3770AD;
}

.icon-reset-background{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 105px;
    left: 300px;
    background-color: #E9E9E9;
    border-radius: 50%;
}

.icon-resetpassword{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 125px;
    left: 315px;
    transform: rotate(-45deg);
}



.icon-reset-new-pass{
    position: absolute;
    top: 240px;
    left: 220px;
    transform: translateY(-50%);
    color: #6c757d;
}

.icon-reset-confirm-pass{
    position: absolute;
    top: 300px;
    left: 220px;
    transform: translateY(-50%);
    color: #6c757d;
}


.input-reset-new-pass{
    padding: 10px;
    margin-top: 10px;
    padding-left: 30px;
    width: 275px;
    height: 40px;
    position: absolute;
    top: 210px;
    left: 200px;
    border-radius: 30px;
    background-color: #E9E9E9;
    border: 1px solid transparent; 
}

.input-reset-confirm-pass{
    padding: 10px;
    margin-top: 10px;
    padding-left: 30px;
    width: 275px;
    height: 40px;
    position: absolute;
    top: 270px;
    left: 200px;
    border-radius: 30px;
    background-color: #E9E9E9;
    border: 1px solid transparent; 
}



/* Hide icons only when their associated input is in focus */
.input-reset-new-pass:focus + .icon-reset-new-pass,
.input-reset-confirm-pass:focus + .icon-reset-confirm-pass {
    opacity: 0;
}

/* Hide icons only when have a content */
.input-reset-new-pass:not(:placeholder-shown) + .icon-reset-new-pass,
.input-reset-confirm-pass:not(:placeholder-shown) + .icon-reset-confirm-pass{
    opacity: 0;
}




.btn-resetpassword{
    position: absolute;
    Width: 150px;
    height: 40px;
    top: 341px;
    left: 255px;
    border-radius: 30px;
    background-color: #3770AD;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.29px;
    color: #FFFFFF;
}